<ion-content class="ion-justify-content-center" fullscreen>
      <img
        src="https://png.pngtree.com/element_our/png_detail/20180911/celebration-dance-icon-vector-design-png_91308.jpg" class="slide-image ion-justify-content-center" />
      <h2 class="slide-title animated bounce ion-text-center" [routerLink]="['/home-results']">Pedido realizado com sucesso, aguarde no local</h2>
      <div text-center>
      <ion-button class="ion-text-center" [routerLink]="['/home-results']"color="success">Voltar ao menu principal</ion-button>
        </div>
    </ion-content>