<ion-content>
  <div #map>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChanged()" placeholder="Onde será entregue a placa?" [hidden]="destination">
    </ion-searchbar>

    <ion-button class="ion-margin-top" (click)="back()" color="dark" fill="clear" size="small" [hidden]="!destination">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-list class="ion-margin-horizontal" [hidden]="!search.length">
      <ion-item (click)="calcRoute(result)" *ngFor="let result of searchResults">
        {{ result.description }}
      </ion-item>
    </ion-list>

    <div class="request-car ion-padding ion-text-center" [hidden]="!destination">
      <h4 class="ion-no-margin">Express Car Plates</h4>
      <span>Sua placa automotiva irá até você</span>

      <ion-grid class="ion-margin-vertical">
        <ion-row>
          <ion-col size="3">
            <img src="https://image.flaticon.com/icons/png/512/290/290163.png">
            <span class="category">Placa R$30,00</span>
          </ion-col>
          <ion-col size="3">
            <img src="https://image.flaticon.com/icons/svg/1371/1371646.svg">
            <span class="category">transporte R$15,00</span>
          </ion-col>
          <ion-col size="2">
            <img src="https://image.flaticon.com/icons/svg/149/149707.svg">
          </ion-col>
          <ion-col size="2">
              <img src="https://image.flaticon.com/icons/svg/1086/1086741.svg">
            <span class="category">Total R$50,00</span>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button color="dark" expand="block" [routerLink]="['/tutorial']">
        Realizar o pedido da placa
      </ion-button>
    </div>
  </div>
</ion-content>