<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/logo.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>O que é o Express Car Plates?</strong></ion-text>
      </h1>
      
      <p margin-bottom>
       Trata-se da solução para os problemas de emplacamento de veículos, um aplicativo de vendas de placas automotivas, em que você pode solicitar a qualquer momento o emplacamento de seu veículo no conforto de sua casa, 
       ou em outro local pretendido, e um de nossos funcionários irá instalar a placa para você. 
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
